* {
    margin: 0;
    padding: 0;
}

/* common css */
.ful-section {
    max-width: 1600px;
}

.section-content {
    width: 82%;
    margin: 0 auto;
}

/* common css */

.head-section {
    background-image: url('resources/Banner\ Image.png');
    height: 420px;
    border-radius: 16px;
    padding-top: 180px;
    /* background: linear-gradient();  */
}

.head-section h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.head-section h2 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 60%;
    margin: 0 auto;

}

/* *************** */
.new-year {
    text-align: center;
}

.new-year h2 {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin: 120px 0 48px 0;
}

.new-year p {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.new-year h3 {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.new-year-pic {
    width: 60%;
    max-width: 802px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.new-year-pic img {
    width: 100%;
}

/* ***************** */
.welcome {
    background-image: url('resources/Vectorrr.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 470px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.welcome-text {
    padding: 0 50px;
}

.welcome-text h2 {
    color: #FFF;
    font-family: Merriweather, serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.welcome-text button {
    color: #FFF;
    text-align: center;
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    outline: none;
}

.twenty-four {
    padding-right: 30px;
}

.twenty-four img {
    width: 100%;
}

/* *************** */
.place {
    height: 423px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    margin-bottom: 120px;
    padding-top: 175px;
    /* border-bottom: 2px solid red; */
}

.place h2 {
    color: #070211;
    font-family: Inter, serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.redish {
    color: #F00;
    text-align: center;
    font-family: Inter, serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place button {
    color: #FFF;
    text-align: center;
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 20px 25px;
    margin-top: 64px;
}

/* ***************** */
.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
}

.sub-text {
    text-align: center;
    width: 67%;
    max-width: 896px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.sub-text img {
    margin-bottom: 40px;
}

.sub-text h2 {
    margin-bottom: 40px;
    color: #070211;
    text-align: center;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.sub-text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.sub-email {
    text-align: center;
    width: 67%;
    max-width: 896px;
    margin: 0 auto;
}

.sub-email input[type="email"] {
    padding: 10px;
    min-width: 300px;
    margin-right: -5px;
    border: none;
    outline: none;
    background: #FFF;
}

.sub-email input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* ***************** */
footer {
    background: #070211;
}

.ftr-content {
    padding: 120px 0;
}

.ftr-content * {
    margin-bottom: 50px;
}

hr {
    border: 1px solid gray;
}

.first-footer {
    display: flex;
    justify-content: space-between;
}

.first-footer p,
a {
    color: #FFF;
    font-family: Inter, serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 0;
}

.first-footer p,
a {
    text-decoration: none;
}

.second-footer {
    /* text-align: center; */
    display: flex;
    gap: 20px;
    justify-content: center;
}

.second-footer img {
    margin-bottom: 0;
}

.third-footer {
    display: flex;
    justify-content: space-between;
}

.third-footer p {
    color: #FFF;
    font-family: Inter, serif;
    font-size: 24px;
    font-weight: 500;
}

.third-footer button {
    background-color: #070211;
    color: #FFF;
    font-family: Inter, serif;
    font-size: 24px;
    font-weight: 500;
    border: none;
}

/* *********** */
.portfolio-heading{
    width: 67%;
    
}
.portfolio-heading h4 {
    color: #F00;
    font-family: Inter, serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-heading h2 {
    color: #070211;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.portfolio-heading p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter ,serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}
.portfolio-galary{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    margin-bottom: 120px;
}
.portfolio-galary div img{
    width: 100%;
}