* {
    margin: 0;
    padding: 0;
}

/* common css */
.ful-section {
    max-width: 1600px;
}

.section-content {
    width: 82%;
    margin: 0 auto;
}

/* common css */

.head-section {
    background-image: url('resources/Banner\ Image.png');
    height: 420px;
    border-radius: 16px;
    padding-top: 180px;
    /* background: linear-gradient();  */
}

.head-section h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.head-section h2 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 60%;
    margin: 0 auto;

}

/* *************** */
.new-year {
    text-align: center;
}

.new-year h2 {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin: 120px 0 48px 0;
}

.new-year p {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.new-year h3 {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.new-year-pic {
    width: 60%;
    max-width: 802px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.new-year-pic img {
    width: 100%;
}

/* ***************** */
.welcome {
    background-image: url('resources/Vectorrr.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 470px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.welcome-text {
    padding: 0 50px;
}

.welcome-text h2 {
    color: #FFF;
    font-family: Merriweather, serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.welcome-text button {
    color: #FFF;
    text-align: center;
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    outline: none;
}

.twenty-four {
    padding-right: 30px;
}

.twenty-four img {
    width: 100%;
}

/* *************** */
.place {
    height: 423px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    margin-bottom: 120px;
    padding-top: 175px;
    /* border-bottom: 2px solid red; */
}

.place h2 {
    color: #070211;
    font-family: Inter, serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.redish {
    color: #F00;
    text-align: center;
    font-family: Inter, serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place button {
    color: #FFF;
    text-align: center;
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 20px 25px;
    margin-top: 64px;
}